.about-low-area{
    // left content
    .about-caption{
        & p{
            font-size: 16px;
            color: #212025;
            line-height: 1.6;
            margin-bottom: 35px;
            padding-right: 50px;
            @media #{$lg}{
                padding-right: 20px;
                padding-right: 0;
            }
            @media #{$sm}{
                padding-right: 0px;
            }
            @media #{$xs}{
                padding-right: 0px;
            }
        }
    }
    // Right img
    .about-img{
        img{
            width: 100%;
        }
    }
    // Footer
   .single-caption {
        display: flex;
        align-items: center;
        .caption-icon {
            span {
                color: #212025;
                font-size: 45px;
                margin-bottom: 0;
                display: block;
                @media #{$lg}{
                    font-size: 42px;
                }
            }
        }
        .caption {
            padding-left: 20px;
             p {
                color: #212025;
                font-size: 14px;
                margin-bottom: 0px;
                display: block;
                line-height: 1.7;
                @media #{$lg}{
                    font-size: 11px;
                }
                @media #{$sm}{
                    font-size: 11px;
                }
            }
        }
    }
}


// About 02
.about-area2{
    // left content
    .about-caption{
        padding-left: 50px;
        @media #{$laptop}{
            padding-left: 50px;
        }
        @media #{$lg}{
            padding-left: 0px;
        }
        @media #{$md}{
          padding-top: 50px;
          padding-left: 0px;
        }
        @media #{$sm}{
          padding-top: 50px;
          padding-left: 0px;
        }
        @media #{$xs}{
          padding-top: 40px;
          padding-left: 0px;
        }
        .pera-top {
            font-size: 16px;
            font-weight: 500;
            color: #212025;
            margin-bottom: 25px;
        }
        .pera-bottom {
            font-size: 16px;
            color: #212025;
            font-weight: 300;
        }
    }
    // Right img
    .about-img{
        img{
            width: 100%;
        }
    }
}
.about-caption{
    @media #{$xs}{
        margin-bottom: 35px;
    }
	
}


// About-03
.about-area3{
    // Form Style Slider
    @media #{$md}{
        padding-top: 100px;
        padding-bottom:100px;
    }
    @media #{$sm}{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media #{$xs}{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    form.search-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 50px;

        .input-form{
            width: 73%;
            position: relative;

            // Border Radius
            overflow: hidden;
            @media #{$sm}{
                width: 66%;
            }
            @media #{$xs}{
                width: 100%;
            }
            input{
                height: 60px;
                width: 100%;
                color: #777777;
                font-size: 18px;
                font-weight: 400;
                padding: 9px 33px 9px 32px;
                border: none;
                border-radius: 0px;
                @media #{$xs}{
                    margin-bottom: 20px;
                }
                @media #{$sm}{
                    padding: 9px 33px 9px 25px;
                }
                &::placeholder {
                    color: #616875;
                    @media #{$xs}{
                        font-size: 13px;
                    }
                }
            }
        }
        .search-form{
            width: 27%;

            // Border Radius
            overflow: hidden;
            @media #{$sm}{
                width: 34%;
            }
            @media #{$xs}{
                width: 100%;
            }

            button{
                width: 100%;
                height: 60px;
                background:$btn-bg;
                font-size: 20px;
                line-height: 1;
                text-align: center;
                color: #fff;
                display: block;
                padding: 15px;
                border-radius: 0px;
                text-transform: capitalize;
                font-family: $font_1;
                letter-spacing: 0.1em;
                line-height: 1.2;
                line-height: 29px;
                font-size: 16px;
                border: 0;
                cursor: pointer;
            }
        }
    }
}
