
.slider-height {
    background-image: url(../img/hero/h1_hero.png);
    min-height: 1080px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;

    @media #{$lg}{
        min-height: 900px;
    }
    @media #{$md}{
        min-height: 700px;
    }
    @media #{$sm}{
        min-height: 600px;
    }
    @media #{$xs}{
        min-height: 600px;
    }
}

.slider-height2{
    background-image: url(../img/hero/hero2.png);
    min-height: 510px;
    background-repeat:no-repeat ;
    // background-position: center center;
    background-size: cover;
    @media #{$md}{
        min-height: 350px;
    }
    @media #{$sm}{
        min-height: 260px;
    }
    @media #{$xs}{
        min-height: 260px;
    }
}

// Main Slider
.slider-area{
    .hero__caption{
        overflow: hidden;
        @media #{$md}{
            padding-top: 100px;
        }
        @media #{$sm}{
            padding-top: 100px;
        }
        @media #{$xs}{
            padding-top: 100px;
        }
        span{
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
            margin-bottom: 39px;
            color:$theme-color;
            margin-bottom: 44px;
            display: inline-block;
            @media #{$xs}{
                margin-bottom: 30px;
                font-size: 16px;
            }
        }
        h1{
            font-size: 87px;
            font-weight: 700;
            margin-bottom: 14px;
            line-height: 1.2;
            margin-bottom: 51px;
            @media #{$lg}{
                font-size: 60px;
                line-height: 1.2;
            }
            @media #{$md}{
                font-size: 50px;
                line-height: 1.2;
            }
            @media #{$sm}{
                font-size: 35px;
                line-height: 1.2;
            }
            @media #{$xs}{
                font-size: 27px;
                line-height: 1.2;
            }
        }
        p{
            margin-bottom: 30px;
            padding-right: 257px;
             color: #212025;
             overflow: hidden;
            @media #{$md}{
                 padding-right: 0px;
             }
            @media #{$sm}{
                 padding-right: 0px;
             }
            @media #{$xs}{
                 padding-right: 0px;
             }
         }
    }
    // Hero man
    .hero-man{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        @media #{$laptop}{
            right: -50px;
        }
        @media #{$lg}{
            right: -180px;
        }
        @media #{$md}{
         right: -281px;
        }
        @media #{$sm}{
            display: none;
        }
        @media #{$xs}{
            display: none;
        }
    }
}

.hero-overly {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(1, 10, 28,  0.3);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

// Another Hero Page
.slider-area{
    .hero-cap{
            @media #{$xs}{
                 padding-top: 80px;
            }
            @media #{$sm}{
                padding-top: 80px;
             }
        & h2{
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 15px;
            @media #{$sm}{
                font-size: 50px;
              }
            @media #{$xs}{
                font-size: 35px;
              }
        }
        // .breadcrumb {
        //     background: none;
        //     padding: 0;
        //     margin: 0;

        //     a {
        //         color: #ec5b53;
        //         font-size: 18px;
        //         text-transform: capitalize;
        //     }
        // }
        // .breadcrumb-item + .breadcrumb-item::before {
        //     color: #ec5b53;
        // }
    }

}