<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hotel Template">
    <meta name="keywords" content="Hotel, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Taviraj:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/linearicons.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="https://celyes.now.sh/templates/hotel/hotel/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section other-page">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="index.html"><img src="https://celyes.now.sh/templates/hotel/hotel/img/logo.png" alt=""></a>
                </div>
                <div class="top-widget">
                    <div class="top-info address">
                        <img src="https://celyes.now.sh/templates/hotel/hotel/img/placeholder.png" alt="">
                        <span>1525 Boring Lane, Los <br />Angeles, CA</span>
                    </div>
                    <div class="top-info phone-num">
                        <img src="https://celyes.now.sh/templates/hotel/hotel/img/phone.png" alt="">
                        <span>+1 (603)535-4592</span>
                    </div>
                </div>
                <div class="container">
                    <nav class="main-menu mobile-menu">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="rooms.html">Rooms</a></li>
                            <li><a href="#">Facilities</a>
                                <ul class="drop-menu">
                                    <li><a href="#">Junior Suit</a></li>
                                    <li><a href="#">Double Room</a></li>
                                    <li><a href="#">Senior Suit</a></li>
                                    <li><a href="#">Single Room</a></li>
                                </ul>
                            </li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="https://celyes.now.sh/templates/hotel/hotel/img/contact-bg.jpg">
        <div class="hero-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Contact</h1>
                    </div>
                </div>
                <div class="page-nav">
                    <a href="news.html" class="left-nav"><i class="lnr lnr-arrow-left"></i> News</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-left">
                        <div class="contact-information">
                            <h2>Contact Information</h2>
                            <ul>
                                <li><img src="https://celyes.now.sh/templates/hotel/hotel/img/placeholder-copy.png" alt=""> <span>1525 Boring Lane, Los Angeles,
                                        CA</span></li>
                                <li><img src="https://celyes.now.sh/templates/hotel/hotel/img/phone-copy.png" alt=""> <span>+1 (603)535-4592</span></li>
                                <li><img src="https://celyes.now.sh/templates/hotel/hotel/img/envelop.png" alt=""> <span>hello@youremail.com</span></li>
                                <li><img src="https://celyes.now.sh/templates/hotel/hotel/img/clock-copy.png" alt=""> <span>Everyday: 06:00 -22:00</span></li>
                            </ul>
                        </div>
                        <div class="social-links">
                            <h2>Follow us on:</h2>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <h5>Write us ...</h5>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>From</p>
                                    <div class="input-group">
                                        <input type="text" placeholder="Full Name">
                                        <img src="https://celyes.now.sh/templates/hotel/hotel/img/edit.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="email" placeholder="Email">
                                        <img src="https://celyes.now.sh/templates/hotel/hotel/img/envelop-copy.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group phone-num">
                                        <input type="text" placeholder="Phone">
                                        <img src="https://celyes.now.sh/templates/hotel/hotel/img/phone-copy.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="message">
                                        <p>Message</p>
                                        <div class="textarea">
                                            <textarea placeholder="Hi ..."></textarea>
                                            <img src="https://celyes.now.sh/templates/hotel/hotel/img/speech-copy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit">Send <i class="lnr lnr-arrow-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Section Begin -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.4355676389!2d-118.69193052429003!3d34.02073049434915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1568665689853!5m2!1sen!2sbd"
            height="560" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <!-- Map Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-logo">
                        <a href="#"><img src="https://celyes.now.sh/templates/hotel/hotel/img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row pb-50">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Location</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-map-marker"></i>
                            <p>1525 Boring Lane, <br />Los Angeles, CA</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Reception</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Shuttle Service</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <h5>Restaurant</h5>
                        <div class="widget-text">
                            <i class="lnr lnr-phone-handset"></i>
                            <p>+1 (603)535-4592</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-text">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
                </div>
                <div class="privacy-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Photo Requests</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="https://celyes.now.sh/templates/hotel/hotel/js/jquery-3.3.1.min.js"></script>
    <script src="https://celyes.now.sh/templates/hotel/hotel/js/bootstrap.min.js"></script>
    <script src="https://celyes.now.sh/templates/hotel/hotel/js/jquery.magnific-popup.min.js"></script>
    <script src="https://celyes.now.sh/templates/hotel/hotel/js/jquery-ui.min.js"></script>
    <script src="https://celyes.now.sh/templates/hotel/hotel/js/jquery.nice-select.min.js"></script>
    <script src="https://celyes.now.sh/templates/hotel/hotel/js/jquery.slicknav.js"></script>
    <script src="https://celyes.now.sh/templates/hotel/hotel/js/owl.carousel.min.js"></script>
    <script src="https://celyes.now.sh/templates/hotel/hotel/js/main.js"></script>
</body>

</html>