/*
	----------------
	Stylesheet for 'Read a Book' Website.
	Code : C.Ilyes
	----------------
	Facebook : @celyes17
	----------------
*/

/* Input */
.celyes-container{padding:0 45px;}
.row{
	margin-bottom:0 !important;
	padding: 0;
	border-top:1px solid rgba(0,0,0,0.1);
}
.row .col{padding: 0 !important;}
.parallax-content{padding-top:150px;}
.parallax-container{min-height:100vh;}
.device-1{height:550px !important; position: absolute;left:100px; bottom:-30%;}
.navbar-fixed{position:absolute;}
.nav-wrapper{padding:0 80px; position: absolute; transition: 0.3s ease-in-out !important;}
.navbar-fixed .nav-wrapper ul {padding-top:5px;}
.navbar-fixed .nav-wrapper ul li a{font-size:14px;}
.input-field label{color:#999;}
.input-field input[type=text]:focus + label,.input-field input[type=password]:focus + label{color:#e91e63;}
.input-field input[type=text]:focus ,.input-field input[type=password]:focus {border-bottom:1px solid #e91e63;box-shadow:0 1px 0 0 #e91e63;}
.input-field input[type=text].valid,.input-field input[type=password].valid{border-bottom:1px solid #2196F3;box-shadow:0 1px 0 0 #2196F3;}
.input-field input[type=text].invalid,.input-field input[type=password].invalid{border-bottom:1px solid #F44336;box-shadow:0 1px 0 0 #F44336;}
.input-field .prefix.active{color:#e91e63;}
.input-field input[type=search] + label,.input-field input[type=search]:focus + label{color:#000;
}/* Input : switch */
.switch{margin-top:7px;}
.switch label .lever{margin:0 7px;}
.switch label input[type="checkbox"]:checked + .lever{background-color:#ADD0EB;}
.switch label input[type="checkbox"]:checked + .lever::after{background-color: #4FB0FD ;}
nav ul a{padding-top: 14px;}
nav ul a:hover{background-color: transparent ;color:#ff9800  !important;}
.btn{font-weight:400;}
.btn-download, .btn-blog {width: 180px; margin:10px 25px;border:2px solid rgba(233,30,99,0.8);}
.btn-blog{background-color: rgba(233,30,99,0.1);}
.fullscreen-bg{
	position:fixed;
	z-index: -100;
	overflow: hidden;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
}
.fullscreen-bg__video{
	width: 100%;
	position:absolute;
}
.mini-divider{
	height:4px;
	width:150px;
	background:linear-gradient(135deg, rgba(250,150,0,1),rgba(233,33,99,1));
	margin:35px auto!important;
}
.mini-divider-2{
	background:linear-gradient(135deg,rgba(150,150,250,1),rgba(255,255,255,1));
	background:-webkit-linear-gradient(135deg, rgba(150,150,250,1),rgba(255,255,255,1));
	margin:35px auto!important;}
.celyes-row{min-height:100vh; border-top:1px solid rgba(233,30,99,0.5);}
.element{padding:0 10px 60px 10px !important;}
.element p{text-align: justify;}
.side-nav .navbar-logo {width:75px;}
.side-nav a{font-weight:300; letter-spacing:2px;}
.nav-wrapper .navbar-logo{width:40px; padding-top:15px; margin-left:5px; position: absolute; }
.side-nav a.social{padding:0 !important; width:23%; display: inline-block;text-align: center;}
.description{font-weight: 800; font-family:Lobster, sans-serif;}
.divider, .side-nav .divider{margin:0; background:rgba(233,30,99,0.2) !important;}
.store{max-width:200px !important; filter:grayscale(1.0); -webkit-filter:grayscale(1.0);}
.store:hover{filter:grayscale(0); -webkit-filter:grayscale(0);}
.latest input{margin-top: -12px; color:#fff;}
footer.page-footer{ margin:0; padding-top:40px;}
.banner-row{background:rgba(0,0,125,0.8); padding-bottom: 0 !important;}
.content{padding:50px 0;}
.icon{
	width:160px;
	height:160px;
	line-height: 200px;
	border-radius: 50%;
	margin: auto !important;
	margin-bottom: 25px !important;
}
.carousel-item{padding: 25px 0;}
.justify{text-align: justify !important; padding: 0 10px;}
.col .customer-review{margin-top:20px; border:10px solid rgba(255,255,255,0.1); background:rgba(255,255,255,0.2); border-radius:10px; color:#000; padding:25px !important;}
.customer-photo img{width:120px !important; border:4px solid rgba(255,255,255,0.4);  }

.spc-icon{
	color:#eee !important;
	text-shadow: 1px 0 0 rgba(0, 0, 150, 0.8), -1px 0 0 rgba(0, 0, 150, 0.8), 0 1px 0 rgba(0, 0, 150, 0.8), 0 -1px 0 rgba(0, 0, 150, 0.8) !important;}
.card{margin: 1em;}
.card:hover{cursor: pointer;}
.card:hover .card-image img{transform: scale(1.1); transition: 0.5s ease-in-out;filter: grayscale(0.5); -webkit-filter:grayscale(0.5);}
.icon-block{margin-top: 0.75em !important;}
.btn-floating{background-color:transparent!important;}
.persona-theme{background:linear-gradient(135deg, rgba(233,33,99,1),rgba(249,152,0,1))!important;transition:0.5s all;}
.persona-theme-2{background:linear-gradient(135deg, rgba(0,0,152,1),rgba(33,171,202,1))!important; }
.persona-theme-3{background:linear-gradient(135deg, rgba(245,245,245,1),rgba(210,210,210,1))!important;transition:0.5s all;}
.feature{text-align: center; padding-top: 50px;}
.feature-images{text-align: right;}
.feature img{height:500px; position: relative;}
.feature .feature-img-1{filter:blur(2px);-webkit-filter:blur(2px); height: 475px; }
.feature .feature-img-2{margin-left:-120px;}
.feature-description{text-align: left !important; padding-top: 100px !important;}
.feature-divider{margin-left: 0  !important;}
.carousel-2{height: 600px !important;margin-top: -200px !important;}
.row{padding-bottom: 50px;}
.zoom{padding:50px 10px 100px 10px !important;}
.zoom img{width:800px;}
.download,.newsletter{padding:50px 0 75px 0;}
.newsletter .btn{margin-top:0; height: 44px; margin-left:5px !important; line-height: 44px;}
.newsletter .row{border-top:none; padding:0;}
.newsletter input[type=text]{
	border:1px solid rgba(0,0,0,0.2) !important;
	padding-left:5px !important;
	border-radius: 2px;
	background:#fff;
}
.contact{min-height:120vh; padding: 0;}
.contact-container{border-radius: 3px;}
.contact .parallax-container{padding:25px 0 100px 0; height: 100%;}
.contact .contact-form{ padding:15px 25px 25px 25px!important;}
.contact .row{border:none; padding:0 !important;}
.contact .contact-form input[type=text],textarea{
	border:1px solid rgba(0,0,0,0.2) !important;
	padding-left:5px !important;
	border-radius: 2px;
	background:#fff;
	margin:0;
}
.contact .contact-form .btn{width:101.75%;}
textarea{max-width: 600px !important; height: 150px !important;}
.page-footer .row{border:none;}
.page-footer .col{ padding:0 10px !important;}
.page-footer p, ul li{line-height: 2em !important; text-align: justify;}
/* Media Queries */
@media(max-width:992px){
	.celyes-container{padding:0 5px;}
	.carousel{min-height:135vh}
	.customer-photo{width:80px !important; margin: auto !important;}
	.row{padding-bottom: 0;}
	.parallax-content{padding-top:100px !important;}
	.nav-wrapper{padding:0 5px;}
	.nav-wrapper .navbar-logo{padding-top:10px; margin-left:5px;}
	.device-1{display: none;}
	.icon{
	width:120px;
	height:120px;
	line-height: 160px;
	border-radius: 50%;
	margin: auto !important;
	margin-bottom: 25px !important;
}
.mini-divider{width:75px; margin:25px auto !important;}
.newsletter .btn{margin-top:0; margin-left:0 !important; height: 42px; line-height: 42px;}
.download,.newsletter{padding:50px 0;}
.contact .contact-form{background:#eee; padding:20px 20px 15px 15px !important;}
}
@media(min-width:992px){
	.carousel{min-height:95vh; margin-top:50px;}
	.hide-on-large{display: none;}
	}
@media(min-aspect-ratio: 16/9){
	.fullscreen-bg__video{
		width:100%;
		height: auto;}}
@media(max-aspect-ratio: 16/9){
	.fullscreen-bg__video{
		width:auto;
		height: 100%;}}