<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>Maxitechture</title>
        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/css/bootstrap.css">
        <link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/vendors/linericon/style.css">
        <link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/css/style.css">
        <link rel="stylesheet" href="https://celyes.now.sh/templates/architecture/maxitechture/css/responsive.css">
    </head>
    <body data-spy="scroll" data-target="#mainNav" data-offset="70">
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu" id="mainNav">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="#home">Home</a></li> 
								<li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li> 
								<li class="nav-item"><a class="nav-link" href="projects.html">Work</a>
								<li class="nav-item"><a class="nav-link" href="services.html">Services</a>
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="project-details.html">Project Details</a></li>
										<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
									</ul>
								</li> 
								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
										<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
									</ul>
								</li> 
								<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->
        
        <!--================Home Banner Area =================-->
        <section class="home_banner_area" id="home">
            <div class="banner_inner">
				<div class="container">
					<div class="banner_content">
						<h2>Precise concept design <br />for stylish living</h2>
						<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
						<a class="banner_btn" href="#">Get Started</a>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Design Area =================-->
        <section class="design_area p_120">
        	<div class="container">
        		<div class="design_inner row">
        			<div class="col-lg-5">
        				<img class="img-fluid" src="img/design-1.jpg" alt="">
        			</div>
        			<div class="col-lg-7">
        				<div class="design_left_text">
        					<h6>Welcome to maxitechture </h6>
        					<h2>Precise concept <br /> design for<br /> stylish living</h2>
        					<h5>Precise concept design for unique stylish living alone</h5>
        					<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        					<a class="main_btn" href="#">More About Us</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Design Area =================-->
        
        <!--================Feature Area =================-->
        <section class="feature_area">
        	<div class="container">
        		<div class="main_title">
        			<h2>What we offer to our clients</h2>
        			<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        		</div>
        		<div class="feature_inner row">
        			<div class="col-lg-4">
        				<div class="feature_item">
        					<img src="img/icon/f-icon-1.png" alt="">
        					<h4>Architecture</h4>
        					<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.</p>
        					<a class="main_btn" href="#">View Details</a>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="feature_item">
        					<img src="img/icon/f-icon-2.png" alt="">
        					<h4>Interior Design</h4>
        					<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.</p>
        					<a class="main_btn" href="#">View Details</a>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="feature_item">
        					<img src="img/icon/f-icon-3.png" alt="">
        					<h4>Concept Design</h4>
        					<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.</p>
        					<a class="main_btn" href="#">View Details</a>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Feature Area =================-->
        
        <!--================Post Slider Area =================-->
        <section class="post_slider_area">
        	<div class="main_title">
				<h2>Our Recent Completed Projects</h2>
				<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
			</div>
			<div class="post_slider_inner owl-carousel">
				<div class="item">
					<div class="post_s_item">
						<div class="post_img">
							<img src="img/post-slider/post-s-1.jpg" alt="">
						</div>
						<div class="post_text">
							<a href="single-blog.html"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							<a class="main_btn" href="#">View Details</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="post_s_item">
						<div class="post_img">
							<img src="img/post-slider/post-s-2.jpg" alt="">
						</div>
						<div class="post_text">
							<a href="single-blog.html"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							<a class="main_btn" href="#">View Details</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="post_s_item">
						<div class="post_img">
							<img src="img/post-slider/post-s-3.jpg" alt="">
						</div>
						<div class="post_text">
							<a href="single-blog.html"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							<a class="main_btn" href="#">View Details</a>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="post_s_item">
						<div class="post_img">
							<img src="img/post-slider/post-s-4.jpg" alt="">
						</div>
						<div class="post_text">
							<a href="single-blog.html"><h4>Nest Protect: 2nd Gen Smoke + CO Alarm</h4></a>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
							<a class="main_btn" href="#">View Details</a>
						</div>
					</div>
				</div>
			</div>
        </section>
        <!--================End Post Slider Area =================-->
        
        <!--================Testimonials Area =================-->
        <section class="testimonials_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>What Customer Say About Us</h2>
        			<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        		</div>
        		<div class="testi_slider owl-carousel">
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-1.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-2.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-1.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-2.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-1.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        			<div class="item">
        				<div class="testi_item">
							<div class="media">
								<div class="d-flex">
									<img src="img/testimonials/testi-2.png" alt="">
								</div>
								<div class="media-body">
									<p>Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.</p>
									<h4>Mark Alviro Wiens</h4>
									<div class="rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</div>
								</div>
							</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Testimonials Area =================-->
        
        <!--================Clients Logo Area =================-->
        <section class="clients_logo_area p_120">
        	<div class="container">
        		<div class="clients_slider owl-carousel">
        			<div class="item">
        				<img src="img/clients-logo/c-logo-1.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-2.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-3.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-4.png" alt="">
        			</div>
        			<div class="item">
        				<img src="img/clients-logo/c-logo-5.png" alt="">
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Clients Logo Area =================-->
        
        <!--================Our Blog Area =================-->
        <section class="our_blog_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Recent From Our Blog</h2>
        			<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
        		</div>
        		<div class="blog_inner row">
        			<div class="col-lg-4">
        				<div class="o_blog_item">
        					<div class="blog_img">
        						<img class="img-fluid" src="img/our-blog/our-blog-1.jpg" alt="">
        					</div>
        					<div class="blog_text">
        						<div class="blog_cat">
        							<a class="active" href="#">Travel</a>
        							<a href="#">Life style</a>
        						</div>
        						<a href="#"><h4>Low Cost Advertising</h4></a>
        						<p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer hears tales of diamonds and begins dreaming of vast riches.</p>
        						<a class="date" href="#">31st January, 2018</a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="o_blog_item">
        					<div class="blog_img">
        						<img class="img-fluid" src="img/our-blog/our-blog-2.jpg" alt="">
        					</div>
        					<div class="blog_text">
        						<div class="blog_cat">
        							<a class="active" href="#">Travel</a>
        							<a href="#">Life style</a>
        						</div>
        						<a href="#"><h4>Low Cost Advertising</h4></a>
        						<p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer hears tales of diamonds and begins dreaming of vast riches.</p>
        						<a class="date" href="#">31st January, 2018</a>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-4">
        				<div class="o_blog_item">
        					<div class="blog_img">
        						<img class="img-fluid" src="img/our-blog/our-blog-3.jpg" alt="">
        					</div>
        					<div class="blog_text">
        						<div class="blog_cat">
        							<a class="active" href="#">Travel</a>
        							<a href="#">Life style</a>
        						</div>
        						<a href="#"><h4>Low Cost Advertising</h4></a>
        						<p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer hears tales of diamonds and begins dreaming of vast riches.</p>
        						<a class="date" href="#">31st January, 2018</a>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Our Blog Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About Me</h3>
        					</div>
        					<p>If you own an Iphone, you’ve probably already worked out how much fun it is to use it to watch movies-it has that nice big screen, and the sound quality.</p>
        				</aside>
        			</div>
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Newsletter</h3>
        					</div>
        					<p>Stay updated with our latest trends</p>
        					<div id="mc_embed_signup">
                                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                	<div class="input-group d-flex flex-row">
                                        <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                        <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                    </div>				
                                    <div class="mt-10 info"></div>
                                </form>
                            </div>
        				</aside>
        			</div>
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        		<div class="copy_right_text">
        			
        			<p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
                    </p>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/js/jquery-3.2.1.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/js/popper.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/js/bootstrap.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/js/stellar.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/vendors/isotope/isotope-min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/js/jquery.ajaxchimp.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/vendors/counter-up/jquery.counterup.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/js/mail-script.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/vendors/popup/jquery.magnific-popup.min.js"></script>
        <script src="https://celyes.now.sh/templates/architecture/maxitechture/js/theme.js"></script>
    </body>
</html>