<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <title>Templates</title>
  </head>
  <body>
    <div class="container">
      <h1 class="is-size-1">Choose Template</h1>
      <ul>
        <li><h3 class="is-size-3">Hotels</h3></li>
        <li>
          <ul>
            <li>
              <a href="https://celyes.now.sh/templates/hotel/hiroto/">Hiroto</a>
            </li>
            <li>
              <a href="https://celyes.now.sh/templates/hotel/hotel/">Hotel</a>
            </li>
          </ul>
        </li>

        <li><h3 class="is-size-3">Architecture</h3></li>
        <li>
          <ul>
            <li>
              <a href="https://celyes.now.sh/templates/architecture/engineers/"
                >Engineers</a
              >
            </li>
            <li>
              <a
                href="https://celyes.now.sh/templates/architecture/maxitechture/"
                >Maxitechture</a
              >
            </li>
            <li>
              <a href="https://celyes.now.sh/templates/architecture/sparsh/"
                >Sparsh</a
              >
            </li>
          </ul>
        </li>

        <li><h3 class="is-size-3">Restaurant</h3></li>
        <li>
          <ul>
            <li>
              <a href="https://celyes.now.sh/templates/restaurant/allfood/"
                >Allfood</a
              >
            </li>
            <li>
              <a href="https://celyes.now.sh/templates/restaurant/eatery/"
                >Eatery</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
