body {
    background-color: #02000a;
}

.input-section {
    padding-top: 15px !important;
}

.input-section .input-field {
    margin: 0 !important;
}

input[type=text] {
    color: #fff;
    padding-left: 6px !important;
    width: 100%;
    font-family: Roboto;
    margin: 0 0 10px 0!important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    border: 1px solid #333 !important;
}

input[type=text]:focus,
.input-section .materialize-textarea:focus {
    border-bottom: 1px solid #ff3d00 !important;
    box-shadow: none !important;
}

.input-section .materialize-textarea {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding-left: 6px;
    margin: 0;
    color: #fff;
    border: 1px solid #333 !important;
    height: 150px !important;
}

.main {
    min-height: 100vh;
    height: auto !important;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 65, 0.4));
    background-size: cover;
    padding-top: 25vh;
}

.main h1.title {
    font-size: 110px;
    font-weight: 100;
    letter-spacing: 32px;
    text-transform: uppercase;
}

.main h1.title span {
    font-weight: 100;
}

.description {
    min-height: 100vh !important;
    height: auto !important;
    padding-top: 20vh;
    background-color: #111;
}

#main:before {
    content: ' ';
    display: block;
    height: 180px;
    width: 100%;
    background: #111;
    -webkit-transform: skewY(3deg) translateZ(0);
    -moz-transform: skewY(-3deg) translateZ(0);
    -ms-transform: skewY(-3deg) translateZ(0);
    -o-transform: skewY(-3deg) translateZ(0);
    transform: skewY(-3deg) translateZ(0);
    position: absolute;
    left: 0;
    bottom: -140px;
    overflow: hidden;
}

.description h2 {
    margin: 0;
    padding-top: 5vh;
    font-weight: 200;
    line-height: 40px;
}

.description h1 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 60px;
}

.description h1.title {
    font-size: 140px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -8px;
    font-stretch: ultra-expanded;
}

.description .flow-text {
    font-weight: 200;
    padding-top: 25px;
    text-align: justify;
}

.divider {
    height: 1px !important;
    width: 300px;
    margin: 5vh 0;
    background: linear-gradient(135deg, red, yellow, green, blue, purple);
}

.intro {
    opacity: 0;
    transition: all 1s ease-out;
}

.intro.fade {
    opacity: 1;
}

.process {
    min-height: 80vh !important;
    height: auto !important;
    background: #111;
    padding-top: 5px;
    padding-bottom: 10px;
    background-size: cover;
}

.process .circle {
    width: 150px;
    height: 150px;
    margin: 0 auto !important;
    border: 2px solid #ddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 170px;
    text-align: center;
    cursor: pointer;
}

.process p {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 28px;
    font-weight: 300;
}

.process .circle:hover {
    border: 2px solid #ddd;
}

.process .circle span {
    color: #111;
    text-shadow: 1.25px 0px 0px #ddd, -1.25px 0px 0px #ddd, 0px 1.25px 0px #ddd, 0px -1.25px 0px #ddd;
}

.process .circle-1:hover {
    border-color: #ff3d00;
}

.process .circle-1:hover span {
    text-shadow: 1.25px 0px 0px #ff3d00, -1.25px 0px 0px #ff3d00, 0px 1.25px 0px #ff3d00, 0px -1.25px 0px #ff3d00;
}

.process .circle-2:hover {
    border-color: #ffa726;
}

.process .circle-2:hover span {
    text-shadow: 1.25px 0px 0px #ffa726, -1.25px 0px 0px #ffa726, 0px 1.25px 0px #ffa726, 0px -1.25px 0px #ffa726;
}

.process .circle-3:hover {
    border-color: #00b8d4;
}

.process .circle-3:hover span {
    text-shadow: 1.25px 0px 0px #00b8d4, -1.25px 0px 0px #00b8d4, 0px 1.25px 0px #00b8d4, 0px -1.25px 0px #00b8d4;
}

.process .circle-4:hover {
    border-color: #00c853;
}

.process .circle-4:hover span {
    text-shadow: 1.25px 0px 0px #00c853, -1.25px 0px 0px #00c853, 0px 1.25px 0px #00c853, 0px -1.25px 0px #00c853;
}

.process .tasks p {
    font-weight: 100;
}

.process .tasks p span.fa {
	position: absolute;
	font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 13px auto;
    text-shadow: 1.25px 0px 0px #ff3d00, -1.25px 0px 0px #ff3d00, 0px 1.25px 0px #ff3d00, 0px -1.25px 0px #ff3d00;
    color: #111
}

.services {
    min-height: 100vh !important;
    height: auto !important;
    padding: 35vh 10vh;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(255, 61, 0, 0.2));
    background-size: cover;
    background-attachment: fixed;
}

#services:before {
    content: ' ';
    display: block;
    height: 150px;
    width: 100%;
    background: #111;
    -webkit-transform: skewY(-3deg) translateZ(0);
    -moz-transform: skewY(-3deg) translateZ(0);
    -ms-transform: skewY(-3deg) translateZ(0);
    -o-transform: skewY(-3deg) translateZ(0);
    transform: skewY(-3deg) translateZ(0);
    position: absolute;
    left: 0;
    top: -115px;
    overflow: hidden;
    z-index: 88;
}

.services p {
    color: #fff;
    text-align: right;
    font-size: 24px;
    line-height: 10px;
    font-weight: 300;
}

.services h2 {
    font-weight: 100;
    line-height: 66px;
    font-size: 48px;
}

.services h1.title {
    line-height: 25px;
    font-size: 140px;
    font-weight: 500;
    letter-spacing: -8px;
}

.contact {
    min-height: 100vh !important;
    height: auto !important;
    padding-top: 20vh;
    padding-bottom: 15vh;
    background: #111;
}

.contact h2 {
    margin: 0;
    padding-top: 5vh;
    font-weight: 200;
    line-height: 35px;
}

.contact h1 {
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 60px;
}

.contact h1.title {
    font-size: 140px;
    font-weight: 500;
    line-height: 120px;
    letter-spacing: -6px;
    font-stretch: ultra-expanded;
}

.contact .input-section a.btn-flat {
    margin: 0;
    color: #fff;
    width: 100% !important;
}

.contact-btn {
    padding-left: 10px;
    padding-right: 3px;
}

.contact span.mail {
    font-weight: 400;
}

@media (max-width: 992px) {
    .main {
        padding: 15vh auto;
        min-height: 80vh;
    }
    .main h1.title {
        font-size: 55px;
        letter-spacing: 10px;
    }
    .description {
        padding-top: 10vh;
        min-height: 60vh !important;
        height: auto;
        padding-bottom: 0;
        background-color: #000b16;
        background-position: top right;
    }
    #main:before,
    #description:before,
    #services:before {
        display: none !important;
    }
    .description h2 {
        font-size: 18px;
        line-height: 18px;
    }
    .description h1 {
        font-size: 28px;
        line-height: 28px;
    }
    .description h1.title {
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 0px;
    }
    .divider {
        width: 150px;
        margin: 4vh 0;
    }
    .process {
        padding-top: 10vh
    }
    .process .circle {
        width: 100px;
        height: 100px;
        line-height: 120px;
    }
    .process .tasks p {
        font-size: 18px;
        font-weight: 400;
    }
    .services {
        padding: 12vh 1vh;
    }
    .services p {
        color: #fff;
        text-align: center;
        font-size: 24px;
        line-height: 12px;
    }
    .services h2 {
        font-weight: 300;
        line-height: 0;
        font-size: 18px;
    }
    .services h1.title {
        line-height: 0px;
        padding-bottom: 15px;
        font-size: 40px;
        font-weight: 900;
        letter-spacing: -4px;
    }
    .contact {
        padding: 5vh 2vh;
        height: auto !important;
        min-height: 100vh !important;
    }
    .contact h2 {
        font-size: 18px;
        line-height: 18px;
    }
    .contact h1 {
        font-size: 28px;
        line-height: 28px;
    }
    .contact h1.title {
        font-size: 40px;
        line-height: 30px;
        letter-spacing: 0px;
    }
	
}
.circle svg {
    max-height: 80px;
    margin-top: 35px;
}
@media(max-width:991px){
	.circle svg {
    margin-top: 25px;
    max-height: 50px;
   }
}
.circle-1 svg,.circle-2 svg ,.circle-3 svg ,.circle-4 svg  {
    fill: #fff;
    transition: 0.2s all;
}

.circle-1:hover svg {
    fill: #ff3d00;
}
.circle-2:hover svg {
    fill: #ff9900;
}
.circle-3:hover svg {
    fill: #00b8d4;
}
.circle-4:hover svg {
    fill: #00c853;
}
.row.designer{
	margin-bottom:0;
	padding:10px 0;
}
.row.designer a span.fa{
	font-size: 20px;
}